<h1>Listing sinaposts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sinaposts.each do |sinapost| %>
  <tr>
    <td><%= sinapost.content %></td>
    <td><%= sinapost.user_id %></td>
    <td><%= link_to 'Show', sinapost %></td>
    <td><%= link_to 'Edit', edit_sinapost_path(sinapost) %></td>
    <td><%= link_to 'Destroy', sinapost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sinapost', new_sinapost_path %>
