<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @randomtesss.content %>
</p>

<p>
  <b>User:</b>
  <%= @randomtesss.user_id %>
</p>


<%= link_to 'Edit', edit_randomtesss_path(@randomtesss) %> |
<%= link_to 'Back', randomtessses_path %>
